@import url('base.css');

body {
    display: flex;
    justify-content: center;
}

#container {
    width: 1440px;
    height: 1090px;
    background-color: rgb(172, 187, 144);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random_block {
    width: 100%;
    height: 70px; 
    display: flex;
}

.random_button {
    width: 20%;
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random {
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.random:hover {
    background-color: #c5b1b1;
    border: 1px solid #333333;
    border-radius: 10px;
}

.random_button a p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #333333;
    margin-right: 11px;
}

.random_button a {
    text-decoration: none;
}

#quote {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.union {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 45%;
    height: auto;
}

.yellowline {
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: #F7DF94;
}

.phrase {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 99px;
    color: #000000;
}

.phrase {
    min-width: 50%;
    height: auto;
}

#authors_block {
   width: 100%;
   height: 20%; 
   display: flex;
   justify-content: center;
}

.author {
    width: 43%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
}

#authors_block a {
    text-decoration: none;
}

.author .name {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.author .initials {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #828282;
}

.author .area {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #828282;
    font-size: 14px;
    line-height: 16px;
}

.author .icon {
    width: 10%;
    height: 100%;
    display: flex;
    margin-right: 30px;
    justify-content: center;
}

.author:hover {
    background-color: #333333;
}

.author:hover .initials, 
.author:hover .area {
    color: #F2F2F2;
}

.creator {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.adkhamB {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #828282;
}