@import url('base.css');

body {
    display: flex;
    justify-content: center;
}

.oneQuoteContainer {
    width: 1440px;
    height: 100vh;
    background-color: rgb(172, 187, 144);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random_block {
    width: 100%;
    height: 70px; 
    display: flex;
}

.randomButton {
    width: 20%;
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 7px;
}

.autorenewIcon {
    width: 20px;
    height: auto;
}

.random:hover {
    background-color: #F7DF94;
    border: 1px solid #333333;
    border-radius: 10px;
}

.baseRandomButton {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #333333;
    margin-right: 3px;
}

.randomButton a {
    text-decoration: none;
}

#quote {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.union {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 45%;
    height: auto;
}

.yellowLine {
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: #F7DF94;
}

.phrase {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    min-width: 50%;
    height: auto;
}

#authorsInfo {
   width: 100%;
   height: 20%; 
   display: flex;
   justify-content: center;
}

.authorButton {
    width: 43%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
}

#authorsInfo a {
    text-decoration: none;
}

.authorButton .name {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.authorButton .initials {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #828282;
}

.authorButton .area {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #828282;
    font-size: 14px;
    line-height: 16px;
}

.authorButton .icon {
    width: 10%;
    height: 100%;
    display: flex;
    margin-right: 30px;
    justify-content: center;
}

.authorButton:hover {
    background-color: #333333;
}

.authorButton:hover .initials, 
.authorButton:hover .area {
    color: #F2F2F2;
}

.creator {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.adkhamB {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #828282;
}

.githubLogo {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    opacity: 0.4;
}

.allQuotesContainer {
    width: 1440px;
    height: 1624px;
    background-color: rgb(172, 187, 144);
    ;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

#randomBlock {  /*1-st block*/
    width: 100%;
    height: 70px;
    display: flex;
}

.randomButton {
    width: 20%;
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random:hover {
    border: 1px solid #333333;
    border-radius: 10px;
}

.randomClick {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    color: #333333;
    margin-right: 11px;
}

.randomButton a {
    text-decoration: none;
}

#authorsBlock {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
 }
 
#authorsBlock a {
    text-decoration: none;
}
 
.author {
    min-width: auto;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 33%;
}

.authorInitials {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
}

.quote {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.union {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 700px;
    height: auto;
    margin-top: 50px;
}

.phrase {
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    margin-left: 99px;
    font-weight: 500;
    color: #000000;
    min-width: 50%;
    height: auto;
}

@media screen and (max-width: 1440px) {
    .baseRandomButton {
        font-size: 15px;
        margin-right: 3px;
    }
    .creator {
        width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .baseRandomButton {
        font-size: 12px;
        margin-right: 3px;
    }
    .randomButton {
        width: 30%;
    }
    .union {
        width: 500px;
    }
    .phrase {
        font-size: 26px;
        margin-left: 75px;
    }
        
    .random img {
        width: 20%;
        height: auto;
    }
    .random {
        display: flex;        
    }
    .authorButton {
        width: 400px;
        height: 80px;
    }
    .authorButton .initials, .authorInitials {
        font-size: 18px;
    }
    .authorButton .area {
        font-size: 11px;
    }
    .creator {
        width: 190px;
        height: 35px;
        display: flex;
    }
    .adkhamB {
        font-size: 12px;
    }
    .githubLogo {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 767px) {
    /* стили для средних планшетов - начало */
    .union {
        width: 400px;
    }
    .phrase {
        font-size: 22px;
        margin-left: 50px;
    }
    .baseRandomButton {
        font-size: 12px;
        margin-right: 3px;
    }
    
    .randomButton {
        width: 40%;
    }
    
}
    
@media screen and (max-width: 479px) {
    /* стили для телефонов - начало */
    .union {
        width: 250px;
        margin-top: 40px;
    }
    .phrase {
        font-size: 15px;
        margin-left: 30px;
    }
    .baseRandomButton, .randomClick {
        font-size: 12px;
        margin-right: 3px;
    }
    .randomButton {
        width: 40%;
    }
    .authorButton {
        width: 300px;
        height: 70px;
    }
    .authorInitials {
        font-size: 18px;
    }
    #quote {
        height: 300px;
    }
    #authorsBlock {
       height: 50px; 
    }
    
}